.earth-img {
    position: fixed;
    bottom: -150vh; 
    left: 50%;
    transform: translateX(-50%);
    width: 200vmin;
    max-width: none;
    z-index: 1;
    object-fit: cover;
    pointer-events: none;
    animation: spin 120s linear infinite;
  }


@keyframes spin {
    from {
      transform: translateX(-50%) rotate(0deg);
    }
    to {
      transform: translateX(-50%) rotate(360deg);
    }
  }
  
  .zoom {
    animation: zoomSpin 1.5s forwards ease-in;
  }
  
  @keyframes zoomSpin {
    from {
      transform: translateX(-50%) rotate(0deg) scale(1);
      opacity: 1;
    }
    to {
      transform: translateX(-50%) rotate(360deg) scale(5);
      opacity: 0;
    }
  }
  
  