.map-container{
    display: flex;
    height: 100vh;
    width:100vw;
}

.sidebar{
    width:25%;
    flex-direction:column;
    display: flex;
    padding: 2rem ;
    
}

.map-area{
    width: 75%;
    height: 100vh;
}